{% extends "main.html" %}

{% block page_name %}
About Cats on Skis
{% endblock %}

{% block content %}
<h1 class="title is-2">About Cats on Skis</h1>
<p class="content is-size-5 has-text-grey-dark">
  We love Cats on Skis! This is the absolute best place to find information about cats on skis.
</p>

<h2 class="subtitle is-4">Your Authors</h2>
<figure class="image is-128x128">
  <img class="is-rounded" src="{{ url_for('images', image='slalom-sammy') }}">
</figure>
<p class="has-text-weight-semibold">Slalom Sammy</p>


{% endblock %}

